<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.mksm.savetime"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:name=".util.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.activity.OrderActivity"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.activity.OrderCreatingActivity"
            android:label="@string/title_activity_order_creating"
            android:parentActivityName=".view.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.mksm.savetime.view.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activity.OrderFinishingActivity"
            android:label="@string/title_activity_order_finishing"
            android:parentActivityName=".view.activity.OrderCreatingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.mksm.savetime.view.activity.OrderCreatingActivity"/>
        </activity>
    </application>

</manifest>